@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Condensed:wght@300;400&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto+Condensed:wght@300;400&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Rubik:wght@300&display=swap');



*{
    margin: 0;
}

/* ----------------------------------- (Section 1) ----------------------------------- */

.section1{
    width: 100%;
    height: 720px;
    background-color: antiquewhite;
    position: relative;
}

.section1 img{
    width: 100%;
    height: 100%;
}

.opacity-layer{
    width: 100%;
    height: 100%;
    background-color: rgba(21, 196, 196,0.9);
    position: absolute;
    bottom: 0px;
}

.header-line{
    width: 100%;
    height: 200px;
    /* background-color: bisque; */
    margin-top: 100px;
}

.description-parag{
    width: 100%;
    height: 90px;
    /* background-color: rgb(32, 95, 121); */
}

.button-get-started{
    margin-top: 30px;
    width: 100%;
    height: 80px;
    /* background-color: salmon; */
}

.header-line h2{
    text-align: center;
    color: white;
    padding-top: 20px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    font-size: 72px;
    line-height: 70px;
}

.description-parag p{
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding-top: 10px;
    font-family: 'Lato', sans-serif;
    line-height: 30px;
    letter-spacing: 1.5px;
}

.opacity-layer button{
    margin-left: 650px;
    margin-top: 15px;
    padding: 15px 45px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: transparent;
    border: 0.2px solid white;
    color: white;
}

.opacity-layer button:hover{
    background-color: rgba(0, 133, 133, 0.9);
}


/* ----------------------------------- (Section 2) ----------------------------------- */


.section2{
    width: 100%;
    height: 900px;
    background-color: #f5f5f5;
}

.section2-header{
    width: 100%;
    height: 30%;
    /* background-color: aqua; */
}

.section2-body{
    width: 100%;
    height: 70%;
    /* background-color: salmon; */
    position: relative;
}

.main-body{
    width: 80%;
    height: 80%;
    background-color: white;
    position: absolute;
    left: 10%;
    top: 5%;
}

.left-side-image{
    width: 30%;
    height: 100%;
    /* background-color: black; */
    float: left;
    position: relative;
}

.right-side-content{
    width: 60%;
    height: 100%;
    margin-left: 10%;
    /* background-color: aliceblue; */
    float: left;
}

.left-side-image img{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.section2-header{
    position: relative;
}

.section2-header h2{
    text-align: center;
    position: absolute;
    top: 65px;
    color: black;
    font-size: 48px;
    font-weight: 700;
    left: 570px;
    line-height: 30px;
    font-family:  'Roboto', sans-serif;
}

.section2-header p{
    text-align: center;
    position: absolute;
    top: 140px;
    color: rgb(150, 150, 150);
    left: 510px;
    line-height: 25px;
    font-family:  'Roboto', sans-serif;
    font-weight: 700;
}

.right-side-content button{
    margin-top: 50px;
    padding: 15px 35px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-weight: 700;
    font-size: 14px;
    background-color: transparent;
    border: 0.2px solid rgb(219, 219, 219);
    color: gray;
    margin-right: 20px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.right-side-content button:hover{
    background-color: rgb(117,186,117);
    color: white;
}


.right-side-content h2{
    margin-top: 40px;
    font-weight: 900;
    font-size: 28px;
    font-family:  'Roboto', sans-serif;
}

.right-side-content p{
    font-weight: 400;
    font-size: 16px;
    font-family:  'Roboto', sans-serif;
    color: gray;
    line-height: 23px;
}


/* ----------------------------------- (Section 3) ----------------------------------- */

.section3{
    width: 100%;
    height: 550px;
    background-color: #ff8295;
}

.section3-main{
    width: 80%;
    height: 100%;
    /* background-color: aqua; */
    margin: auto;
}

.first-row{
    width: 100%;
    height: 50%;
    /* background-color: salmon;     */
}

.second-row{
    width: 100%;
    height: 50%;
    /* background-color: bisque; */
}

.first-row div{
    width: 25%;
    height: 100%;
    float: left;
}

.first-row-squar1{
    background-color: white;
}

.first-row-squar2{
    background-color: #5d6780;
}

.first-row-squar3{
    background-color: white;
}

.first-row-squar4{
    background-color: #5d6780;
}


.second-row div{
    width: 25%;
    height: 100%;
    float: left;
}

.second-row-squar1{
    background-color: #5d6780;
}

.second-row-squar2{
    background-color: white;
}

.second-row-squar3{
    background-color: #5d6780;
}

.second-row-squar4{
    background-color: white;
}

.first-row p{
    text-align: center;
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
}

.first-row h2{
    text-align: center;
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
}

.second-row p{
    text-align: center;
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
}

.second-row h2{
    text-align: center;
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
}

.first-row h2{
    font-weight: 900;
    font-size: 32px;
}

.first-row p{
    font-weight: 600;
    font-size: 16px;
    color: white;
    line-height: 25px;
}

.second-row h2{
    font-weight: 900;
    font-size: 32px;
}

.second-row p{
    font-weight: 600;
    font-size: 16px;
    color: white;
    line-height: 25px;
}


.first-row-squar1:hover{
    background-color:   #ff8295;
    color: white;
}

.first-row-squar2:hover{
    background-color: #ff8295;
    color: white;
}

.first-row-squar3:hover{
    background-color: #ff8295;
    color: white;
}


.first-row-squar4:hover{
    background-color: #ff8295;
    color: white;
}


.second-row-squar1:hover{
    background-color: #ff8295;
    color: white;
}

.second-row-squar2:hover{
    background-color: #ff8295;
    color: white;
}

.second-row-squar3:hover{
    background-color: #ff8295;
    color: white;
}

.second-row-squar4:hover{
    background-color: #ff8295;
    color: white;
}


/* ----------------------------------- (Section 4) ----------------------------------- */


.section4{
    width: 100%;
    height: 720px;
}

.section4-header{
    width: 100%;
    height: 35%;
    /* background-color: salmon; */
}

.section4-body{
    width: 100%;
    height: 65%;
    /* background-color: aqua; */
    position: relative;
}

.body-left-side{
    width: 50%;
    height: 100%;
    /* background-color: antiquewhite; */
    float: left;
}

.body-right-side{
    width: 50%;
    height: 100%;
    /* background-color: cadetblue; */
    float: left;
}

.left-image{
    width: 40%;
    height: 85%;
    /* background-color: greenyellow; */
    float: left;
    margin-left: 100px;
}

.right-image{
    width: 40%;
    height: 85%;
    /* background-color: rgb(158, 40, 40); */
    float: left;
    margin-left: 40px;
}

.left-image img{
    width: 100%;
    height: 100%;
}

.right-image img{
    width: 100%;
    height: 100%;
}


.section4-header h2{
    text-align: center;
    padding-top: 70px;
    line-height: 40px;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.section4-header p{
    text-align: center;
    padding-top: 30px;
    line-height: 25px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: rgb(143, 140, 140);
}


.body-right-side h1{
    padding-top: 60px;
    padding-left: 30px;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
}

.body-right-side p{
    padding-top: 20px;
    padding-left: 30px;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: gray;
}

.body-right-side h4{
    padding-top: 30px;
    padding-left: 30px;
    font-size: 16px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    color: rgb(122, 116, 116);
}

.body-right-side button{
    margin-top: 30px;
    margin-left: 30px;
    padding: 15px 25px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    color: blueviolet;
    border: 0.1px solid rgb(223, 222, 222);
}


.body-right-side button:hover{
    background-color: rgb(26, 141, 161);
    color: white;
}


/* ----------------------------------- (Section 5) ----------------------------------- */


.section5{
    width: 100%;
    height: 680px;
    background-color: rgb(21, 196, 196);
}

.section5-header{
    width: 100%;
    height: 35%;
    /* background-color: brown; */
}

.section5-body{
    width: 100%;
    height: 65%;
    /* background-color: antiquewhite; */
}

.section5-body-content{
    width: 70%;
    height: 70%;
    background-color: white;
    margin: auto;
}

.section5-image{
    width: 65%;
    height: 100%;
    /* background-color: salmon; */
    float: left;
}

.section5-parag{
    width: 35%;
    height: 100%;
    /* background-color: blue; */
    float: left;
}

.section5-image img{
    width: 100%;
    height: 100%;
}

.section5-header h2{
    text-align: center;
    padding-top: 60px;
    line-height: 60px;
    font-size: 32px;
    font-weight: 700;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.section5-header p{
    text-align: center;
    line-height: 30px;
    font-size: 24px;
    font-weight: 100;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.section5-parag h3{
    padding-left: 40px;
    padding-top: 60px;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

.section5-parag p{
    padding-left: 40px;
    padding-top: 20px;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(107, 106, 106);
}


/* ----------------------------------- (Section 6) ----------------------------------- */


.section6{
    width: 100%;
    height: 680px;
    /* background-color: beige; */
    position: relative;
}

.section6-header{
    width: 100%;
    height: 35%;
    /* background-color: salmon; */
}

.section6-body{
    width: 100%;
    height: 65%;
    /* background-color: aqua; */
}

.section6-body-content{
    width: 70%;
    height: 80%;
    /* background-color: antiquewhite; */
    margin: auto;
    position: relative;
}

.form-send-message{
    width: 100%;
    height: 85%;
    margin: 0;
}

.name-input{
    width: 460px;
    height: 50px;
    margin: 0;
    padding-left: 25px;
    border: 0.3px solid rgb(211, 211, 211);
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
}

.email-input{
    width: 500px;
    height: 50px;
    margin-left: 30px;
    padding-left: 25px;
    border: 0.3px solid rgb(211, 211, 211);
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
}

.message{
    width: 1030px;
    height: 150px;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 20px;
    border: 0.3px solid rgb(211, 211, 211);
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
}

.btn{
    padding: 15px 50px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: white;
    position: absolute;
    right: 10px;
    bottom: 20px;
    border: 0.3px solid rgb(211, 211, 211);
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    color: blueviolet;
}

.section6-header h2{
    text-align: center;
    padding-top: 100px;
    font-size: 32px;
    font-family: 'Lato', sans-serif;
}

.section6-header p{
    text-align: center;
    padding: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.btn:hover{
    background-color: rgb(21, 196, 196);
    color: white;
}


/* ----------------------------------- (Section 7) ----------------------------------- */

.section7{
    width: 100%;
    height: 420px;
    background-color: rgb(247, 196, 31);
}

.section7-header{
    width: 100%;
    height: 50%;
    /* background-color: aqua; */
}

.section7-btn{
    width: 100%;
    height: 50%;
    /* background-color: salmon; */
}

.section7-header h2{
    text-align: center;
    color: white;
    padding-top: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 45px;
    word-spacing: 1px;
    letter-spacing: 1px;
}

.section7-btn input{
   margin-left: 10px;
   margin-top: 3px;
   width: 400px;
   height: 50px;
   border-radius: 30px;
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   -ms-border-radius: 30px;
   -o-border-radius: 30px;
   padding-left: 20px;
   border: none;
   background-color: rgb(247, 247, 247);
   font-size: 16px;
}

.section7-btn button{
   width: 200px;
   height: 50px;
   border-radius: 30px;
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   -ms-border-radius: 30px;
   -o-border-radius: 30px;
   padding-left: 15px;
   border: 0.7px solid rgb(212, 212, 212);
   background-color: white;
   color: blueviolet;
   font-weight: 700;
   font-size: 15px;
}

.main-btn-box{
    width: 640px;
    height: 60px;
    background-color: antiquewhite;
    margin-left: 440px;
    margin-top: 20px;
    background-color: rgb(247, 247, 247);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}


.main-btn-box button:hover{
    background-color: rgb(21, 196, 196);
    color: white;
}



/* ----------------------------------- (Section 8) ----------------------------------- */


.section8{
    width: 100%;
    height: 450px;
    background-color: #4b5970;
}

.section8-header{
    width: 80%;
    height: 65%;
    /* background-color: aqua; */
    margin: auto;
}

.section8-copywrite{
    width: 80%;
    height: 35%;
    /* background-color: salmon; */
    margin: auto;
}

.part{
    width: 23%;
    height: 100%;
    /* background-color: antiquewhite; */
    float: left;
    margin-left: 3px;
}

.part1{
    width: 30%;
    height: 100%;
    /* background-color: antiquewhite */
    float: left;
    margin-left: 3px;
}

.part h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-top: 80px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 0ch;
    color: white;
}

.part p{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0ch;
    line-height: 30px;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.up-row{
    width: 100%;
    height: 25%;
    /* background-color: brown; */
    margin: auto;
    margin-top: 15px;
}

.down-row{
    width: 100%;
    height: 25%;
    /* background-color: green; */
    margin: auto;
    margin-top: 10px;
}

.up-row-image{
    width: 23%;
    height: 100%;
    /* background-color: blue; */
    margin-left: 1%;
    float: left;
}

.down-row-image{
    width: 23%;
    height: 100%;
    /* background-color: rgb(0, 255, 76); */
    margin-left: 1%;
    float: left;
}

.part1 h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-top: 80px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 0ch;
    color: white;   
}

.up-row-image img{
    width: 100%;
    height: 100%;
}

.down-row-image img{
    width: 100%;
    height: 100%;
}

.copywrite{
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    padding-top: 20px;
}

.name{
    color: rgb(247, 196, 31);
}